.App {
  text-align: center;
}

@media (max-width: 1024px) {
  .mycollapse {
    display: none;
  }
}

/* Printer page margin setup */
@page {
  size: auto;
  margin-top: 5mm;
  margin-bottom: 5mm;
  margin-left: 5mm;
  margin-right: 1mm;
}